* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #131313;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234b4b4b' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    color: white;
}

a {
    display: block;
    padding: 15px 0 15px 0;
    text-decoration: none;
    text-align: center;
    color: white;
}
.a-nav{
    display: block;
    text-decoration: none;
    color: white;
}
.a-nav:hover{
    background-color: #bd0068;
    cursor: pointer;
    transition: .5s;
}

.intro-button{
    background-color: #490028;
}
.intro-button:hover{
    background-color: #fff;
    color: black;
}

.centrar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.intro {
    height: 100vh;
    background: url(images/fondo12.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: stretch;
    align-items: end;
    justify-items: center;
}
.fa-chevron-double-down{
    margin-top: 10px;
    color: white;
    font-size: 30px;
    animation: flotar2 3s ease-in-out infinite;
}
.DownArrow{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column: 1/3;
}
.inicio {
    margin: 0 0 80px 0;
    font-size: 60px;
    font-family: 'Goldman', cursive;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.homeA {
    background-image: url(images/GTR1.png);
    background-size: 500px;
    width: 500px;
    height: 261px;
    overflow: hidden;
    animation: flotar 7s ease-in-out infinite;
}

.General {
    display: flex;
    width: 100%;
}

.cuerpo {
    width: 75%;
    height: 100%;
    margin: 0px auto;
    margin-bottom: 90px;
    border-radius: 5px;
    padding: 40px;
    background-color: #272627;
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45), black 5px 5px 10px;
}

h1 {
    text-align: center;
}

nav {
    position: sticky;
    top: 93%;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #7c0044;
    z-index: 1030;
}
ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

li {
    flex-grow: 1;
    text-align: center;
    height: 50px;
}

#Producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #424141;
    border-radius: 10px;
    padding: 2% 2.5% 5% 2.5%;
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45), black 5px 5px 10px;
}

#componentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #424141;
    border-radius: 10px;
    padding: 2% 2.5% 5% 2.5%;
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45), black 5px 5px 10px;
}

.images-content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
    transition: .5s;
}

.images-content img:hover{
    transform: scale(50px);
    cursor: pointer;
}

.info-content{
    display: none;
}


.snip1273 {
    font-family: "Raleway", Arial, sans-serif;
    position: relative;
    margin: 10px;
    min-width: 310px -60px;
    max-width: 310px;
    width: 80%;
    color: #ffffff;
    text-align: left;
    font-size: 14px;
}
.snip1273 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.snip1273 figcaption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    padding: 20px 30px;
}
.snip1273 figcaption i a{
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
.snip1273 figcaption:before,
.snip1273 figcaption:after {
    width: 1px;
    height: 0;
}
.snip1273 figcaption:before {
    right: 0;
    top: 0;
}
.snip1273 figcaption:after {
    left: 0;
    bottom: 0;
}

.snip1273 h3 {
    margin: 0 0 5px;
    font-weight: 700;
    text-transform: uppercase;
}
.snip1273 p {
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 15px;
}

.snip1273:before,
.snip1273:after,
.snip1273 figcaption:before,
.snip1273 figcaption:after {
    position: absolute;
    content: "";
    background-color: #ffffff;
    z-index: 1;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0.8;
}
.snip1273:before,
.snip1273:after {
    height: 1px;
    width: 0%;
}
.snip1273:before {
    top: 0;
    left: 0;
}
.snip1273:after {
    bottom: 0;
    right: 0;
}
.snip1273:hover img,
.snip1273.hover img {
    opacity: 0.4;
}
.snip1273:hover figcaption,
.snip1273.hover figcaption {
    opacity: 1;
}
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
    height: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after {
    width: 100%;
}


.archivos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #424141;
    border-radius: 10px;
    padding: 2% 2.5% 5% 2.5%;
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45), black 5px 5px 10px;
}

.creador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #424141;
    border-radius: 10px;
    padding: 2% 2.5% 5% 2.5%;
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45), black 5px 5px 10px;
}
.TarjetaContenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TarjetaContenedor-contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}


.card-contact {
    display: inline-block;
    position: relative;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;
}

.card-contact .head {
    display: inline-block;
    margin-top: 12px;
    height: 60px;
    width: 60px;
}

.card-contact .head .img{
    width: 60px;
    height: 60px;
    position: absolute;
    background: white;
    border-radius: 50%;
    margin-left: 33px;
    transform: translate(-50%);
}

.card-contact .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card-contact .description {
    display: inline-block;
    height: auto;
    margin: 10px;
    color: black;
    text-align: left;
}

.card-contact .description h3 {
    color: #630036;
}

.card-contact .description h4 {
    color: #7c0044;
}

.card {
    display: inline-block;
    position: relative;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;
    margin: 0 40px 0;
}

.card:hover {
    box-shadow: 0 5px 15px #fff;
    transform: translateY(-15px);
}

.card .head {
    height: 125px;
    width: 100%;
    position: relative;
}

.card .head .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #7c0044;
    bottom: 0;
    animation: flotar 6s infinite;
}

.card .head .img {
    width: 150px;
    height: 150px;
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}

.card .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card .description {
    height: auto;
    padding: 40px 20px 20px 20px;
    color: black;
    border-bottom: solid 1px rgba(6, 74, 76, .18);
    text-align: center;
}

.card .description h3 {
    color: #630036;
}

.card .description h4 {
    color: #7c0044;
}

.card .description p {
    margin-top: 20px;
    font-size: 15px;
}

.card .contact {
    background-color: #272627;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .contact a {
    text-decoration: none;
    color: white;
    background: #7c0044;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 1.3s;
}

.card .contact a:hover {
    background: #e2e2e2;
    color: black;
}

div.container {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
}

.ContenedorEstablecimiento {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: auto;
}

.normalDelete{
    display: none;
}
.ImagenEscuela {
    grid-row: 1/3;
    grid-column: 2/3;
    width: 97.5%;
    height: auto;
    vertical-align: top;
    border-radius: 10px;
}

.ParrafoHistoria{
    grid-column: 1/2;
    vertical-align: top;
    width: 97.5%;
    margin: 0 10px 0 0;
}

p {
    text-align: justify;
}
#Materia{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #424141;
        border-radius: 10px;
        padding: 2% 2.5% 5% 2.5%;
        box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45), black 5px 5px 10px;
}

#Establecimiento  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #424141;
    border-radius: 10px;
    padding: 2% 2.5% 5% 2.5%;
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45), black 5px 5px 10px;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #424141;
    border-radius: 10px;
    padding: 2% 0 5% 0;
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45), black 5px 5px 10px;
}

.far,
.fas {
    display: flex;
}

i {
    font-size: 20px;
    justify-content: start;
    align-items: baseline;
    width: 90%;
}

.inputs {
    margin-left: 5px;
    padding-left: 5px;
    text-align: left;
    width: 90%;
    height: 50px;
    border: none;
    background: none;
    border-bottom: 1px solid #bd0068;
    color: #fff;
    transition: .6s;
}

.contenido #block {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    resize: vertical;
    border: none;
    background: none;
    border-bottom: 1px solid #bd0068;
    color: #fff;
    text-align: left;
    min-height: 80px;
    transition: .6s;
}

#send i {
    display: unset;
    position: relative;
    left: -20%;
}

.contenido #send {
    width: 130px;
    height: 50px;
    border: none;
    background: none;
    border-bottom: 1px solid #bd0068;
    color: #fff;
    align-items: baseline;
    justify-items: baseline;
    text-align: center;
    transition: .6s;
}

.contenido .inputs:hover {
    background-color: #36353650;
    background: linear-gradient(to top, #bd00681f, rgba(255, 255, 255, 0));
    cursor: pointer;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.contenido #block:hover {
    cursor: pointer;
    background: linear-gradient(to top, #bd00681f, rgba(255, 255, 255, 0));
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.contenido #send:hover {
    background: #bd0068;
    cursor: pointer;
    border-radius: 25px;
}

.cuadro{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin: 10px;
    padding: 5px;
    border: solid 1px white;
}
.cuadro a{
    padding: 0;
    text-align: right;
}
.archivo{
    display: grid;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
}
.tipo-archivo{
    display: grid;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}
.download{
    align-items: center;
    gap: 10px;
    display: grid;
    flex-grow: 1;
}
.download a i{
    transition: .6s;
}
.download a i:hover{
    color: #bd0068;
}

::placeholder {
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.warning{
    display: none;
}

@keyframes flotar {
    0% {
        transform: translatey(0px);
 
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
 
    }
}
@keyframes flotar2 {
    0% {
        transform: translateY(0px);
    }
    10%{
        transform: translateY(-10px);
    }
    30% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    70%{
        transform: translateY(0px);
    }
    90%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media (max-width: 1080px) {
    .intro {
        display: none;
    }

    nav{
        position: sticky;
        background: #7c0044;
        width: 100%;
        height: 50px;
        top: 0;
    }
    
    .ParrafoHistoria{
        grid-column: 1/3;
        width: 100%;
        margin: 0 0 10px 0;
    }
    .ImagenEscuela {
        grid-column: 1/3;
        width: 75%;
        border-radius: 10px;
    }
    .ContenedorEstablecimiento{
        justify-items: center;
    }
}

@media (max-width: 950px){
    .intro {
        display: none;
    }
    nav{
        position: sticky;
        background: #7c0044;
        visibility: visible;
        width: 100%;
        height: 50px;
        top: 0;
    }
    .card .contact{
        display: none;
    }
    .card {
        height: 400px;
        width: 200px;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        transition: .5s;
        margin: 0 10px 0;
    }
    
    .card:hover {
        box-shadow:none;
        transform: none;
    }
    .card .head .circle{
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        animation: none;
    }

    .ParrafoHistoria{
        grid-column: 1/3;
        width: 100%;
        margin: 0 0 10px 0;
    }
    .ImagenEscuela {
        grid-column: 1/3;
        width: 75%;
        border-radius: 10px;
    }
    .ContenedorEstablecimiento{
        justify-items: center;
    }

    
}
@media (max-width: 805px){
    
.TarjetaContenedor-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}


.card-contact {
    display: inline-block;
    position: relative;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;
}

.card-contact .head {
    display: inline-block;
    height: 50px;
    width: 50px;
}

.card-contact .head .img{
    width: 50px;
    height: 50px;
    position: absolute;
    background: white;
    border-radius: 50%;
    margin-left: 33px;
    transform: translate(-50%);
}

.card-contact .head .img img {
    width: 100%;
    height: 100%;
    top: 50%;
    border-radius: 50%;
    object-fit: cover;
}

.card-contact .description {
    display: inline-block;
    height: auto;
    margin: 10px;
    color: black;
    text-align: left;
}

.card-contact .description h3 {
    color: #630036;
}

.card-contact .description h4 {
    color: #7c0044;
}
}
@media (max-width: 700px){
    *{
        font-size: 97% !important;
    }
    .intro {
        display: none;
    }
    nav{
        position: relative;
        background: #7c0044;
        margin-bottom:  20px;
        width: 100%;
        height: 350px;
        z-index: none;
    }
    nav ul{
        flex-direction: column;
    }

    .card-contact .head {
        display: inline-block;
        height: 43px;
        width: 50px;
    }
}
@media (max-width:600px){
    *{
        font-size: 95% !important;
    }
    .intro {
        display: none;
    }
    nav{
        position: relative;
        background: #7c0044;
        margin-bottom:  20px;
        width: 100%;
        height: 350px;
        z-index: none;
    }
    nav ul{
        flex-direction: column;
    }

    .TarjetaContenedor {
        height: 610px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .card {
        height: 300px;
        width: 100%;
        background-color: white;
        border-radius: 20px;
    }
    
    .card:hover {
        box-shadow:none;
        transform: none;
    }
    
    .card .head .circle{
        position: absolute;
        width: 100%;
        height: 300px;
        border-radius: 50%;
        animation: none;
    }

    .card .contact{
        display: none;
    }
    
    .ContenedorEstablecimiento {
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .ParrafoHistoria{
        grid-column: 1/3;
        width: 100%;
        margin: 0 0 10px 0;
    }
    .ImagenEscuela {
        grid-column: 1/3;
        width: 100%;
        border-radius: 10px;
    }
    .mediaDelete{
        display: none;
    }
    .card-contact .head {
        display: inline-block;
        height: 30px;
        width: 30px;
        margin-top: 0;
    }
    

.card-contact .head .img{
    width: 30px;
    height: 30px;
    position: absolute;
    background: white;
    border-radius: 50%;
    margin-left: 23px;
    transform: translate(-50%);
}

.card-contact .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
}

@media /*Alerta dimensiones no compatibles*/ (max-width: 380px){
    .General{
        display: none;
    }
    header{
        display: none;
    }
    nav{
        display: none;
    }
    i{
        color: yellow;
        margin-bottom: 30px;
        font-size: 35px;
    }
    .warning{
        width: 100%;
        height: 100vh;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
